<table>
    <tr>
        <td width="250" valign="top"><img src="{ImageURL}" width="250" /></td>
        <td valign="top">
            <h3><a href="{ItemURL}">{Title}</a></h3>
            <p>
                <font data-mx-color="#aaaaaa">{PremiereYear} <span data-mx-color="#00A4DC">&bull;</span> {RunTime} min
                    <span data-mx-color="#00A4DC">&bull;</span> {OfficialRating} <span
                        data-mx-color="#00A4DC">&bull;</span>
                    {CommunityRating} &#9733;
                </font>
            </p>
            <p>
                <font data-mx-color="#00A4DC">{SeasonEpsInfo}</font>
            </p>
            <p>{SeriesOverview}</p>
        </td>
    </tr>
</table>