<template id="header-add">
    <tr>
        <td colspan='2' style='padding: 20px 10px 10px 10px;'>
            <h2
                style='color: #E197BC; margin: 0; font-size: 1.8em; border-bottom: 2px solid #E197BC; padding-bottom: 10px; display: flex;'>
                <span style='margin-right: 4px;'>🎬</span> Added to {LibraryName}
            </h2>
        </td>
    </tr>
</template>

<template id="header-update">
    <tr>
        <td colspan='2' style='padding: 20px 10px 10px 10px;'>
            <h2
                style='color: #007fb1; margin: 0; font-size: 1.8em; border-bottom: 2px solid #007fb1; padding-bottom: 10px; display: flex;'>
                <span style='margin-right: 4px;'>🔄</span> Updated in {LibraryName}
            </h2>
        </td>
    </tr>
</template>

<template id="header-delete">
    <tr>
        <td colspan='2' style='padding: 20px 10px 10px 10px;'>
            <h2
                style='color: #d190c5; margin: 0; font-size: 1.8em; border-bottom: 2px solid #d190c5; padding-bottom: 10px; display: flex;'>
                <span style='margin-right: 4px;'>🗑️</span> Removed from {LibraryName}
            </h2>
        </td>
    </tr>
</template>

<template id="header-upcoming">
    <tr>
        <td colspan='2' style='padding: 20px 10px 10px 10px;'>
            <h2
                style='color: #bf7df0; margin: 0; font-size: 1.8em; border-bottom: 2px solid #bf7df0; padding-bottom: 10px; display: flex;'>
                <span style='margin-right: 4px;'>📅</span> Upcoming in {LibraryName}
            </h2>
        </td>
    </tr>
</template>